body {
    height: 100%;
    width: 100%;
}

.tools {
    width: 500px;
    height: 500px;
}

.main-search-box {
    position: absolute;
    height: 300px;
    width: 205px;
    background-color: #2c2f31
}

.bond-search {
    border-radius: 2px;
    background: #3a4045;
    width: 185px;
    height: 24px;
    position: absolute;
    margin-left: 10px;
    margin-top: 9px;
    border: 1px solid #3a4045;
    text-indent: 4px;
}

.bond-search:focus {
    outline: none;
}

.clear-search {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 180px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
}

.search-suggest {
    height: 254px;
    overflow-y: auto;
    margin-top: 46px;
}

.searchbox-checkbox-all {
    margin-left: 14px;
    margin-bottom: 9px;
    color: #ffda9a;
    font-family: Microsoft YaHei;
}

.out-searchbox {
    color: #ffda9a;
    font-family: Microsoft YaHei;
}

.searchbox-checkbox {
    margin-left: 23px;
    margin-bottom: 9px;
}

.border-shadow {
    position: absolute;
    height: 6px;
    width: 185px;
    background-color: #2c2f31;
    margin-top: 294px;
}
